.alert-success {
  color: #181918;
  border-color: #1cbb00;
  background-color: #45cc0d;
}

.alert-danger {
  color: #ffffff;
  border-color: #c71580;
  background-color: #ef4282;
  // background-color: #cc0d0d;
  // border-color: #981725;
}
