.dropdown-menu.form-wrapper {
  width: 340px;
  padding: 20px;
  left: auto;
  right: 0;
  font-size: 14px;
  background-color: $white-gray;
}

.form-control.is-invalid, .form-control.is-invalid:active, .form-control.is-invalid:focus, .form-control.is-invalid:hover, .form-control.is-invalid:visited {
  background-color: $yorange;
}

@media (max-width: 992px) {
  .navbar-nav.ml-auto h3 {
    color: $white;
  }

  .navbar-nav a,
  .navbar-nav a:hover {
    color: $white;
  }

  .form-group label {
    color: $white;
  }

  .form-group > .invalid-feedback {
    color: $white;
    font-size: 90%;
  }

  .dropdown-menu.form-wrapper {
    width: 100%;
    padding: 10px 15px;
    background: transparent;
    border: none;
  }
}
