<!DOCTYPE html>
<html lang="en">

<head>
  <title>Change me!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="deployment" content="testing">

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="css/vendors.css">
  <link type="text/css" rel="stylesheet" href="css/styles.css">

  <!-- JavasCript  -->
  <script type="text/javascript" src="js/vendors.js"></script>
</head>

<body class="app">

  <!-- Navbar Start -->
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark bg-monza">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="/" class="nav-link hvr-icon-grow" title="Home"><i class="fa fa-home hvr-icon"></i> Home</a>
        </li>
        <!-- TODO:  -->
        <li class="nav-item active" v-if="store.state.user.isLoggedIn">
          <a href="/" class="nav-link hvr-icon-grow" title="Services"><i class="fa fa-server hvr-icon"></i> Services</a>
        </li>
        <li class="nav-item active">
          <a href="/admin/login" class="nav-link hvr-icon-grow" title="Admin"><i class="fa fa-lock hvr-icon"></i> Admin</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <a v-on:click="render_sign_in_form()" href="#" class="nav-link dropdown-toggle active hvr-icon-grow" data-toggle="dropdown" title="User"><i class="fa fa-user hvr-icon"></i> {{ store.state.user.data.email ? store.state.user.data.email : 'User' }}</a>
        <ul class="dropdown-menu form-wrapper">

          <!-- User NOT logged in Start -->
          <li v-if="!store.state.user.isLoggedIn" class="nav-item dropdown">
            <div class="row">
              <div class="col-md-12">
                <h3 class="text-center">{{ form.submit_text.replace("Reset", "Recover") }}</h3>

                <!-- Alert Start-->
                <div id="navbarAlert" class="alert alert-success hidden" role="alert" style="display: none;">
                  <button v-on:click.stop="toggle_navbar_alert()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ form.submit_msg }}
                </div>
                <!-- Alert End -->

                <form id="userNotLoggedInForm" class="form" role="form" v-on:submit.prevent="submit_user_not_logged_in_form" accept-charset="UTF-8">
                  <div class="form-group" v-show="form.flag.email">
                    <label for="">Email</label>
                    <input v-model.trim="form.input.email" v-validate="'required|email'" name="email" class="form-control" v-bind:class="{'is-invalid': errors.first('email')}" type="email" placeholder="Email" aria-required="true" required>
                    <span v-show="errors.has('email')" class="invalid-feedback"><b>{{ errors.first('email') }}</b></span><br>
                  </div>
                  <div class="form-group" v-show="form.flag.password">
                    <label for="">Password</label>
                    <input v-model.trim="form.input.password" v-validate="'required|min:6|max:64'" minlength="6" minlength="64" name="password" type="password" class="form-control" v-bind:class="{'is-invalid': errors.first('password')}" placeholder="Password"
                      ref="password" aria-required="true" required>
                    <span v-show="errors.has('password')" class="invalid-feedback"><b>{{ errors.first('password') }}</b></span>
                  </div>
                  <div class="form-group" v-if="form.flag.password_confirm">
                    <label for="">Password Confirm</label>
                    <input v-model.trim="form.input.password_confirm" v-validate="'required|min:6|max:64|confirmed:password'" minlength="6" minlength="64" name="password_confirm" type="password" class="form-control" v-bind:class="{'is-invalid': errors.first('password_confirm')}"
                      placeholder="Password Confirm" data-vv-as="password confirm" aria-required="true" required>
                    <span v-show="errors.has('password_confirm')" class="invalid-feedback"><b>{{ errors.first('password_confirm') }}</b></span>
                  </div>
                  <div class="form-group">
                    <button v-show="form.submit_text.includes('Sign In')" type="submit" class="btn btn-primary btn-block" v-bind:class="{'hvr-wobble-horizontal': (!form.input.email || errors.has('email')) || (!form.input.password || errors.has('password')) }" v-bind:disabled="(!form.input.email || errors.has('email')) || (!form.input.password || errors.has('password'))">{{ form.submit_text }}</button>
                    <button v-show="form.submit_text.includes('Sign Up')" type="submit" class="btn btn-primary btn-block" v-bind:class="{'hvr-wobble-horizontal': (!form.input.email || errors.has('email')) || (!form.input.password || errors.has('password')) || (!form.input.password_confirm || errors.has('password_confirm')) }" v-bind:disabled="(!form.input.email || errors.has('email')) || (!form.input.password || errors.has('password')) || (!form.input.password_confirm || errors.has('password_confirm'))">{{ form.submit_text }}</button>
                    <button v-show="form.submit_text.includes('Reset Password')" type="submit" class="btn btn-primary btn-block" v-bind:class="{'hvr-wobble-horizontal': !form.input.email || errors.has('email') }" v-bind:disabled="!form.input.email || errors.has('email')">{{ form.submit_text }}</button>
                  </div>
                </form>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="help-block text-left"><a v-on:click.stop.prevent="render_registration_form()" href="#" title="Sign Up">Sign Up</a></div>
                  </div>
                  <div class="col-sm-4">
                    <div class="help-block text-center"><a v-show="form.flag.sign_in" v-on:click.stop.prevent="render_sign_in_form()" href="#" title="Sign In">Sign In</a></div>
                  </div>
                  <div class="col-sm-5">
                    <div class="help-block text-right"><a v-on:click.stop.prevent="render_reset_password_form()" href="#" title="Reset Password">Reset Password</a></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- User NOT logged in End -->
          <!-- User LOGGED IN Start -->
          <li v-if="store.state.user.isLoggedIn" class="nav-item dropdown">
            <div class="row">
              <div class="col-md-12">
                <h3 class="text-center">Update Settings</h3>

                <!-- Alert Start-->
                <div id="navbarAlert" class="alert alert-success hidden" role="alert" style="display: none;">
                  <button v-on:click.stop="toggle_navbar_alert()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ form.submit_msg }}
                </div>
                <!-- Alert End -->

                <form id="userLoggedInForm" class="form" role="form" v-on:submit.prevent="submit_user_update_form()" accept-charset="UTF-8">
                  <div class="form-group">
                    <label for="">Email</label>
                    <input v-model.trim="form.input.email" v-validate="'email'" name="email" class="form-control" v-bind:class="{'is-invalid': errors.first('email')}" type="email" v-bind:placeholder="store.state.user.data.email">
                    <span v-show="errors.has('email')" class="invalid-feedback"><b>{{ errors.first('email') }}</b></span><br>
                  </div>
                  <div class="form-group" v-show="form.flag.password">
                    <label for="">Password</label>
                    <input v-model.trim="form.input.password" v-validate="'min:6|max:64'" minlength="6" minlength="64" name="password" type="password" class="form-control" v-bind:class="{'is-invalid': errors.first('password')}" placeholder="New Password"
                      ref="password">
                    <span v-show="errors.has('password')" class="invalid-feedback"><b>{{ errors.first('password') }}</b></span>
                  </div>
                  <div class="form-group">
                    <label for="">Password Confirm</label>
                    <input v-model.trim="form.input.password_confirm" v-validate="'min:6|max:64|confirmed:password'" minlength="6" minlength="64" name="password_confirm" type="password" class="form-control" v-bind:class="{'is-invalid': errors.first('password_confirm')}"
                      placeholder="New Password Confirm" data-vv-as="password confirm">
                    <span v-show="errors.has('password_confirm')" class="invalid-feedback"><b>{{ errors.first('password_confirm') }}</b></span>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" v-bind:class="{'hvr-wobble-horizontal': !form.flag.submit}" v-bind:disabled="!form.flag.submit">Update</button>
                  </div>
                </form>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="help-block text-left"><a v-on:click.stop.prevent="sign_out()" href="#" title="Update Credentials">Settings</a></div>
                  </div>
                  <div class="col-sm-6">
                    <div class="help-block text-right"><a v-on:click.stop.prevent="sign_out()" href="#" title="Sign Out">Sing Out</a></div>
                  </div>
                </div>

              </div>
            </div>
          </li>
          <!-- User LOGGED IN End -->
        </ul>
      </ul>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Content Start -->
  <div class="content container-fluid">
    <!--  Map Start -->
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 world-map"></div>
    </div>
    <!--  Map End -->
  </div>
  <!-- Content End -->

  <script type="text/javascript" src="js/jquery.app.js"></script>
  <script type="text/javascript" src="js/vue.app.js"></script>
</body>

</html>
