<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-monza">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/login"><i class="fa fa-home"></i> Home</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown"><i class="fa fa-user"></i> User</a>
      <ul class="dropdown-menu form-wrapper">
        <li class="nav-item dropdown">
          <div class="row">
            <div class="col-md-12">
              <form class="form" role="form" method="post" action="login" accept-charset="UTF-8">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email" required="">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" required="">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                </div>
                <div class="form-group">
                  <button type="button" v-on:click="kuku" class="btn btn-primary btn-block">Test</button>
                </div>
              </form>
              <div class="row">
                <div class="col-sm-4">
                  <div class="help-block text-left"><a href="">Register</a></div>
                </div>
                <div class="col-sm-8">
                  <div class="help-block text-right"><a href="">Reset password</a></div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </ul>
  </div>
</nav>
