$monza: #cc0d0d !default;
$primary: #0d31db !default;
$light_red: #ffe4e4 !default;
$yellow: #ffff00 !default;
$yorange: #ffd400 !default;
$white: #ffffff !default;
$white-gray: #fdfdfd !default;

$colors: (
  "white": $white,
  "white-gray": $white-gray,
  "monza": $monza,
  "yellow": $yellow,
  "yorange": $yorange,
  "light_red": $light_red,
);

$theme-colors: (
  "monza": $monza,
);
